* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #fefefe;
  color: #f7f6f6;
  line-height: 1.6;
}

.header {
  background-color: #f73535;
  color: #fff;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.search-box input {
  border: none;
  padding: 0.5rem;
  outline: none;
  width: 120px;
}

.search-box button {
  background-color: rgb(53, 105, 247);
  border: none;
  color: white;
  padding: 0.5rem;
}

.hero {
  padding: 5rem 2rem;
  text-align: center;
  /* background: linear-gradient(#ffe5d9, #ffffff); */
  background: url('images/images.jpg') no-repeat center center/cover;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero button {
  padding: 0.75rem 1.5rem;
  background-color: #f73535;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* CARDS */
.card-slider {
  position: relative;
  padding: 2rem 1rem;
  overflow: hidden;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}

.card p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  color: rgb(0, 0, 0);
}

.cards {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  padding: 1rem 0;
}

.card {
  flex: 0 0 auto;
  width: 240px;
  scroll-snap-align: start;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.678);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #c0392b;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f73535;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 10;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #333;
  color: white;
}

.footer-btn {
  margin-top: 1rem;
  background-color: #f73535;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
  .header, .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .cards {
    padding-left: 1rem;
  }

  .card {
    min-width: 80%;
  }

  .search-box input {
    width: 100px;
  }
}
